n8n-workflows/crawlinghub-monitoring-basic.json
{
  "name": "CrawlingHub - UserAgent Pool Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Static Data에서 토큰 가져오기\nconst tokenData = $workflow.staticData.token;\n\nif (!tokenData || !tokenData.accessToken) {\n  return {\n    hasToken: false,\n    needsRefresh: true,\n    message: 'No token found'\n  };\n}\n\n// 토큰 만료 체크 (5분 전에 갱신)\nconst expiresAt = new Date(tokenData.expiresAt);\nconst now = new Date();\nconst fiveMinutes = 5 * 60 * 1000;\n\nif (expiresAt - now < fiveMinutes) {\n  return {\n    hasToken: true,\n    needsRefresh: true,\n    accessToken: tokenData.accessToken,\n    message: 'Token expires soon'\n  };\n}\n\nreturn {\n  hasToken: true,\n  needsRefresh: false,\n  accessToken: tokenData.accessToken,\n  message: 'Token valid'\n};"
      },
      "id": "code-check-token",
      "name": "Check Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-refresh",
              "leftValue": "={{ $json.needsRefresh }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-needs-refresh",
      "name": "Needs Token Refresh?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.set-of.com/api/v1/auth/login",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"identifier\": \"rsw2@connectly.co.kr\",\n  \"password\": \"Ff@20122104\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-login",
      "name": "Login to AuthHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -100]
    },
    {
      "parameters": {
        "jsCode": "const loginResponse = $input.first().json;\n\nif (!loginResponse.success) {\n  throw new Error('Login failed: ' + (loginResponse.detail || 'Unknown error'));\n}\n\n// 토큰 정보 저장\nconst tokenData = {\n  accessToken: loginResponse.data.accessToken,\n  refreshToken: loginResponse.data.refreshToken,\n  expiresIn: loginResponse.data.expiresIn,\n  tokenType: loginResponse.data.tokenType,\n  userId: loginResponse.data.userId,\n  issuedAt: new Date().toISOString(),\n  expiresAt: new Date(Date.now() + (loginResponse.data.expiresIn * 1000)).toISOString()\n};\n\n$workflow.staticData.token = tokenData;\n\nreturn {\n  accessToken: tokenData.accessToken,\n  message: 'Token refreshed'\n};"
      },
      "id": "code-save-new-token",
      "name": "Save New Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "jsCode": "// 이전 노드에서 토큰 가져오기 (갱신된 토큰 또는 기존 토큰)\nlet accessToken;\n\nconst items = $input.all();\nfor (const item of items) {\n  if (item.json.accessToken) {\n    accessToken = item.json.accessToken;\n    break;\n  }\n}\n\nif (!accessToken) {\n  // Static Data에서 가져오기\n  const tokenData = $workflow.staticData.token;\n  if (tokenData) {\n    accessToken = tokenData.accessToken;\n  }\n}\n\nif (!accessToken) {\n  throw new Error('No access token available');\n}\n\nreturn { accessToken };"
      },
      "id": "code-merge-token",
      "name": "Merge Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://crawlinghub-web-api-prod.connectly.local:8080/actuator/prometheus",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http-prometheus",
      "name": "Get Prometheus Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-401",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 401,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-401",
      "name": "Is 401?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.set-of.com/api/v1/auth/login",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"identifier\": \"rsw2@connectly.co.kr\",\n  \"password\": \"Ff@20122104\"\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-login-retry",
      "name": "Login (Retry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, -100]
    },
    {
      "parameters": {
        "jsCode": "const loginResponse = $input.first().json;\n\nif (!loginResponse.success) {\n  throw new Error('Login retry failed');\n}\n\nconst tokenData = {\n  accessToken: loginResponse.data.accessToken,\n  refreshToken: loginResponse.data.refreshToken,\n  expiresIn: loginResponse.data.expiresIn,\n  tokenType: loginResponse.data.tokenType,\n  userId: loginResponse.data.userId,\n  issuedAt: new Date().toISOString(),\n  expiresAt: new Date(Date.now() + (loginResponse.data.expiresIn * 1000)).toISOString()\n};\n\n$workflow.staticData.token = tokenData;\n\nreturn { accessToken: tokenData.accessToken };"
      },
      "id": "code-save-retry-token",
      "name": "Save Retry Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, -100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://crawlinghub-web-api-prod.connectly.local:8080/actuator/prometheus",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-prometheus-retry",
      "name": "Get Prometheus (Retry)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, -100]
    },
    {
      "parameters": {
        "jsCode": "// Prometheus 텍스트 포맷 파싱\nconst prometheusText = $input.first().json.data || $input.first().json;\n\nfunction parsePrometheusMetric(text, metricName) {\n  if (typeof text !== 'string') return null;\n  const regex = new RegExp(`^${metricName}(?:\\\\{[^}]*\\\\})?\\\\s+([0-9.]+)`, 'gm');\n  const matches = [...text.matchAll(regex)];\n  if (matches.length === 0) return null;\n  return parseFloat(matches[matches.length - 1][1]);\n}\n\nfunction parsePrometheusCounter(text, metricName) {\n  return parsePrometheusMetric(text, metricName + '_total') || parsePrometheusMetric(text, metricName);\n}\n\nconst textData = typeof prometheusText === 'string' ? prometheusText : JSON.stringify(prometheusText);\n\n// UserAgent Pool 메트릭 추출\nconst poolAvailable = parsePrometheusMetric(textData, 'useragent_pool_available') || 0;\nconst poolTotal = parsePrometheusMetric(textData, 'useragent_pool_total') || 0;\nconst poolAvailableRate = parsePrometheusMetric(textData, 'useragent_pool_available_rate') || 0;\n\n// Counter 메트릭 추출\nconst circuitBreakerTotal = parsePrometheusCounter(textData, 'useragent_circuit_breaker') || 0;\nconst rateLimitedTotal = parsePrometheusCounter(textData, 'useragent_rate_limited') || 0;\nconst suspendedTotal = parsePrometheusCounter(textData, 'useragent_suspended') || 0;\nconst consumeTotal = parsePrometheusCounter(textData, 'useragent_consume') || 0;\nconst successTotal = parsePrometheusCounter(textData, 'useragent_success') || 0;\nconst failureTotal = parsePrometheusCounter(textData, 'useragent_failure') || 0;\n\n// 성공률 계산\nconst successRate = consumeTotal > 0 \n  ? ((successTotal / consumeTotal) * 100).toFixed(2) \n  : 100;\n\n// Alert 조건 체크\nconst alerts = [];\n\nif (poolAvailableRate < 20) {\n  alerts.push({\n    type: 'CRITICAL',\n    metric: 'pool_available_rate',\n    value: poolAvailableRate,\n    message: `🚨 UserAgent Pool 가용률 위험: ${poolAvailableRate.toFixed(1)}% (임계값: 20%)`\n  });\n}\n\nif (poolAvailable < 3) {\n  alerts.push({\n    type: 'CRITICAL',\n    metric: 'pool_available',\n    value: poolAvailable,\n    message: `🚨 가용 UserAgent 부족: ${poolAvailable}개 (임계값: 3개)`\n  });\n}\n\nif (poolAvailableRate < 50 && poolAvailableRate >= 20) {\n  alerts.push({\n    type: 'WARNING',\n    metric: 'pool_available_rate',\n    value: poolAvailableRate,\n    message: `⚠️ UserAgent Pool 가용률 주의: ${poolAvailableRate.toFixed(1)}%`\n  });\n}\n\nreturn {\n  timestamp: new Date().toISOString(),\n  metrics: {\n    pool: {\n      available: poolAvailable,\n      total: poolTotal,\n      availableRate: poolAvailableRate\n    },\n    counters: {\n      circuitBreaker: circuitBreakerTotal,\n      rateLimited: rateLimitedTotal,\n      suspended: suspendedTotal,\n      consume: consumeTotal,\n      success: successTotal,\n      failure: failureTotal\n    },\n    calculated: {\n      successRate: parseFloat(successRate)\n    }\n  },\n  alerts: alerts,\n  hasAlerts: alerts.length > 0,\n  hasCritical: alerts.some(a => a.type === 'CRITICAL')\n};"
      },
      "id": "code-parse",
      "name": "Parse Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2420, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-alerts",
              "leftValue": "={{ $json.hasAlerts }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-alerts",
      "name": "Has Alerts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2640, 0]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst alerts = data.alerts;\nconst metrics = data.metrics;\n\n// Slack 메시지 구성\nconst criticalAlerts = alerts.filter(a => a.type === 'CRITICAL');\nconst warningAlerts = alerts.filter(a => a.type === 'WARNING');\n\nlet emoji = criticalAlerts.length > 0 ? '🚨' : '⚠️';\nlet color = criticalAlerts.length > 0 ? '#ff0000' : '#ffcc00';\n\nlet alertText = alerts.map(a => a.message).join('\\n');\n\nlet slackMessage = {\n  text: `${emoji} CrawlingHub Alert`,\n  attachments: [\n    {\n      color: color,\n      blocks: [\n        {\n          type: 'header',\n          text: {\n            type: 'plain_text',\n            text: `${emoji} CrawlingHub UserAgent Pool Alert`,\n            emoji: true\n          }\n        },\n        {\n          type: 'section',\n          text: {\n            type: 'mrkdwn',\n            text: alertText\n          }\n        },\n        {\n          type: 'divider'\n        },\n        {\n          type: 'section',\n          fields: [\n            {\n              type: 'mrkdwn',\n              text: `*Pool 상태*\\n${metrics.pool.available}/${metrics.pool.total} (${metrics.pool.availableRate.toFixed(1)}%)`\n            },\n            {\n              type: 'mrkdwn',\n              text: `*성공률*\\n${metrics.calculated.successRate}%`\n            },\n            {\n              type: 'mrkdwn',\n              text: `*Circuit Breaker*\\n${metrics.counters.circuitBreaker}회`\n            },\n            {\n              type: 'mrkdwn',\n              text: `*Rate Limited (429)*\\n${metrics.counters.rateLimited}회`\n            }\n          ]\n        },\n        {\n          type: 'context',\n          elements: [\n            {\n              type: 'mrkdwn',\n              text: `⏰ ${data.timestamp}`\n            }\n          ]\n        }\n      ]\n    }\n  ]\n};\n\nreturn { slackMessage, hasCritical: data.hasCritical };"
      },
      "id": "code-slack-format",
      "name": "Format Slack Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2860, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.slackMessage }}",
        "options": {}
      },
      "id": "http-slack",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3080, -100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-critical",
              "leftValue": "={{ $json.hasCritical }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-critical",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3300, -100]
    },
    {
      "parameters": {
        "jsCode": "// 토큰 가져오기\nconst tokenData = $workflow.staticData.token;\nif (!tokenData || !tokenData.accessToken) {\n  throw new Error('No token available for recovery');\n}\nreturn { accessToken: tokenData.accessToken };"
      },
      "id": "code-get-token-for-recover",
      "name": "Get Token for Recover",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3520, -200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://crawlinghub-web-api-prod.connectly.local:8080/api/v1/crawling/user-agents/recover",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.accessToken }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-reset-cb",
      "name": "Auto Recover UserAgents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3740, -200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"🔄 자동 복구 시도\",\n  \"attachments\": [\n    {\n      \"color\": \"#36a64f\",\n      \"text\": \"SUSPENDED UserAgent 복구를 자동으로 시도했습니다.\\n결과: {{ $json.message || 'completed' }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "http-slack-recovery",
      "name": "Notify Recovery Attempt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3960, -200]
    },
    {
      "parameters": {},
      "id": "noop-no-alert",
      "name": "No Alerts",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2860, 100]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Check Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Token": {
      "main": [
        [
          {
            "node": "Needs Token Refresh?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Token Refresh?": {
      "main": [
        [
          {
            "node": "Login to AuthHub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login to AuthHub": {
      "main": [
        [
          {
            "node": "Save New Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save New Token": {
      "main": [
        [
          {
            "node": "Merge Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Token": {
      "main": [
        [
          {
            "node": "Get Prometheus Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prometheus Metrics": {
      "main": [
        [
          {
            "node": "Is 401?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is 401?": {
      "main": [
        [
          {
            "node": "Login (Retry)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Parse Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login (Retry)": {
      "main": [
        [
          {
            "node": "Save Retry Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Retry Token": {
      "main": [
        [
          {
            "node": "Get Prometheus (Retry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prometheus (Retry)": {
      "main": [
        [
          {
            "node": "Parse Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Metrics": {
      "main": [
        [
          {
            "node": "Has Alerts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Alerts?": {
      "main": [
        [
          {
            "node": "Format Slack Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Message": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Alert": {
      "main": [
        [
          {
            "node": "Is Critical?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical?": {
      "main": [
        [
          {
            "node": "Get Token for Recover",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Token for Recover": {
      "main": [
        [
          {
            "node": "Auto Recover UserAgents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Recover UserAgents": {
      "main": [
        [
          {
            "node": "Notify Recovery Attempt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "token": null
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "crawlinghub-monitoring"
  },
  "pinData": {},
  "versionId": "2.0.0",
  "tags": [
    {
      "name": "monitoring"
    },
    {
      "name": "crawlinghub"
    }
  ]
}
