docs/n8n/crawlinghub-outbox-monitoring-workflow.json
{
  "name": "CrawlingHub System Monitoring → Slack Alert",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "id": "schedule-trigger-001",
      "name": "Every 5 Minutes"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://crawlinghub-web-api-stage.connectly.local:8080/api/v1/monitoring/dashboard",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Token",
              "value": "{{$credentials.httpHeaderAuth.value}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lookbackMinutes",
              "value": "60"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 100],
      "id": "http-dashboard-001",
      "name": "Fetch Dashboard",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "CrawlingHub Service Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://crawlinghub-web-api-stage.connectly.local:8080/api/v1/monitoring/crawl-tasks/summary",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Token",
              "value": "{{$credentials.httpHeaderAuth.value}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lookbackMinutes",
              "value": "60"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 250],
      "id": "http-crawl-tasks-001",
      "name": "Fetch CrawlTask Summary",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "CrawlingHub Service Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://crawlinghub-web-api-stage.connectly.local:8080/api/v1/monitoring/outbox/summary",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Token",
              "value": "{{$credentials.httpHeaderAuth.value}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 400],
      "id": "http-outbox-001",
      "name": "Fetch Outbox Summary",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "CrawlingHub Service Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://crawlinghub-web-api-stage.connectly.local:8080/api/v1/monitoring/crawled-raw/summary",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Token",
              "value": "{{$credentials.httpHeaderAuth.value}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 550],
      "id": "http-crawled-raw-001",
      "name": "Fetch CrawledRaw Summary",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "CrawlingHub Service Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://crawlinghub-web-api-stage.connectly.local:8080/api/v1/monitoring/external-systems/health",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Service-Token",
              "value": "{{$credentials.httpHeaderAuth.value}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lookbackMinutes",
              "value": "60"
            }
          ]
        },
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 700],
      "id": "http-external-health-001",
      "name": "Fetch External Health",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "CrawlingHub Service Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// 각 API 응답을 구조(shape)로 식별\nlet dashboard = {};\nlet crawlTasks = {};\nlet outbox = {};\nlet crawledRaw = {};\nlet externalHealth = {};\n\nfor (const item of items) {\n  const raw = item.json;\n  const data = raw.data || raw;\n\n  if (data.activeSchedulers !== undefined) dashboard = data;\n  else if (data.stuckTasks !== undefined) crawlTasks = data;\n  else if (data.crawlTaskOutbox !== undefined) outbox = data;\n  else if (data.totalRaw !== undefined) crawledRaw = data;\n  else if (data.systems !== undefined) externalHealth = data;\n}\n\n// ─── 임계값 설정 ───\nconst PENDING_THRESHOLD = 100;\nconst PROCESSING_STUCK_THRESHOLD = 50;\nconst FAILED_THRESHOLD = 0;\nconst STUCK_TASKS_THRESHOLD = 5;\nconst EXTERNAL_FAILURES_THRESHOLD = 3;\nconst RECENT_ERRORS_THRESHOLD = 10;\n\nconst getCount = function(detail, status) {\n  if (!detail || !detail.countsByStatus) return 0;\n  return detail.countsByStatus[status] || 0;\n};\n\nconst reasons = [];\n\n// 1) Dashboard\nif (dashboard.overallStatus && dashboard.overallStatus !== 'HEALTHY')\n  reasons.push('[Dashboard] 시스템 상태: ' + dashboard.overallStatus);\nif ((dashboard.recentErrors || 0) > RECENT_ERRORS_THRESHOLD)\n  reasons.push('[Dashboard] 최근 에러 ' + dashboard.recentErrors + '건 (임계값: ' + RECENT_ERRORS_THRESHOLD + ')');\n\n// 2) CrawlTask Summary\nif ((crawlTasks.stuckTasks || 0) > STUCK_TASKS_THRESHOLD)\n  reasons.push('[CrawlTask] stuck 태스크 ' + crawlTasks.stuckTasks + '건 (임계값: ' + STUCK_TASKS_THRESHOLD + ')');\nvar crawlTaskFailed = getCount(crawlTasks, 'FAILED');\nif (crawlTaskFailed > FAILED_THRESHOLD)\n  reasons.push('[CrawlTask] FAILED ' + crawlTaskFailed + '건');\n\n// 3) Outbox Summary (3종)\nvar outboxTypes = [\n  { name: 'CrawlTaskOutbox', data: outbox.crawlTaskOutbox },\n  { name: 'SchedulerOutbox', data: outbox.schedulerOutbox },\n  { name: 'ProductSyncOutbox', data: outbox.productSyncOutbox }\n];\n\nfor (var i = 0; i < outboxTypes.length; i++) {\n  var ob = outboxTypes[i];\n  var pending = getCount(ob.data, 'PENDING');\n  var processing = getCount(ob.data, 'PROCESSING');\n  var failed = getCount(ob.data, 'FAILED');\n  if (pending > PENDING_THRESHOLD)\n    reasons.push('[' + ob.name + '] PENDING ' + pending + '건 (임계값: ' + PENDING_THRESHOLD + ')');\n  if (processing > PROCESSING_STUCK_THRESHOLD)\n    reasons.push('[' + ob.name + '] PROCESSING ' + processing + '건 (stuck 의심, 임계값: ' + PROCESSING_STUCK_THRESHOLD + ')');\n  if (failed > FAILED_THRESHOLD)\n    reasons.push('[' + ob.name + '] FAILED ' + failed + '건');\n}\n\n// 4) CrawledRaw Summary\nvar rawFailed = getCount(crawledRaw, 'FAILED');\nif (rawFailed > FAILED_THRESHOLD)\n  reasons.push('[CrawledRaw] FAILED ' + rawFailed + '건');\n\n// 5) External Systems Health\nvar systems = externalHealth.systems || [];\nfor (var j = 0; j < systems.length; j++) {\n  var s = systems[j];\n  if (s.status !== 'HEALTHY' || s.recentFailures > EXTERNAL_FAILURES_THRESHOLD) {\n    reasons.push('[External] ' + s.system + ' - 상태: ' + s.status + ', 실패: ' + s.recentFailures + '건');\n  }\n}\n\nvar needsAlert = reasons.length > 0;\n\nvar extractOutbox = function(detail) {\n  return {\n    pending: getCount(detail, 'PENDING'),\n    processing: getCount(detail, 'PROCESSING'),\n    completed: getCount(detail, 'COMPLETED'),\n    failed: getCount(detail, 'FAILED'),\n    total: (detail && detail.total) || 0\n  };\n};\n\nreturn [{\n  json: {\n    needsAlert: needsAlert,\n    reasons: reasons,\n    checkedAt: new Date().toISOString(),\n    overallStatus: dashboard.overallStatus || 'UNKNOWN',\n    activeSchedulers: dashboard.activeSchedulers || 0,\n    runningTasks: dashboard.runningTasks || 0,\n    pendingOutbox: dashboard.pendingOutbox || 0,\n    recentErrors: dashboard.recentErrors || 0,\n    crawlTask: {\n      countsByStatus: crawlTasks.countsByStatus || {},\n      stuckTasks: crawlTasks.stuckTasks || 0,\n      totalTasks: crawlTasks.totalTasks || 0\n    },\n    crawlTaskOutbox: extractOutbox(outbox.crawlTaskOutbox),\n    schedulerOutbox: extractOutbox(outbox.schedulerOutbox),\n    productSyncOutbox: extractOutbox(outbox.productSyncOutbox),\n    crawledRaw: {\n      countsByStatus: crawledRaw.countsByStatus || {},\n      totalRaw: crawledRaw.totalRaw || 0\n    },\n    externalSystems: systems.map(function(s) {\n      return { system: s.system, recentFailures: s.recentFailures, status: s.status };\n    })\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 400],
      "id": "code-evaluate-001",
      "name": "Evaluate Alert Conditions"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-needs-alert",
              "leftValue": "={{ $json.needsAlert }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 400],
      "id": "if-needs-alert-001",
      "name": "Needs Alert?"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0A8RU0UR4M"
        },
        "text": "=:rotating_light: *CrawlingHub 시스템 모니터링 알람*\n\n:clock3: *조회 시각*: {{ $json.checkedAt }}\n\n---\n:rotating_light: *알람 사유*:\n{{ $json.reasons.map(r => '• ' + r).join('\\n') }}\n\n---\n:bar_chart: *Dashboard*\n• 시스템 상태: *{{ $json.overallStatus }}*\n• 활성 스케줄러: {{ $json.activeSchedulers }} | 실행중 태스크: {{ $json.runningTasks }}\n• 대기 아웃박스: {{ $json.pendingOutbox }} | 최근 에러: {{ $json.recentErrors }}\n\n---\n:spider_web: *CrawlTask Summary* (총 {{ $json.crawlTask.totalTasks }}건, stuck: {{ $json.crawlTask.stuckTasks }}건)\n{{ Object.entries($json.crawlTask.countsByStatus).map(([k,v]) => '• ' + k + ': ' + v).join('\\n') }}\n\n---\n*Outbox 상태*\n\n:inbox_tray: *CrawlTask Outbox* (총 {{ $json.crawlTaskOutbox.total }}건)\n| :hourglass: PENDING | :arrows_counterclockwise: PROCESSING | :white_check_mark: COMPLETED | :x: FAILED |\n|---|---|---|---|\n| {{ $json.crawlTaskOutbox.pending }} | {{ $json.crawlTaskOutbox.processing }} | {{ $json.crawlTaskOutbox.completed }} | {{ $json.crawlTaskOutbox.failed }} |\n\n:calendar: *Scheduler Outbox* (총 {{ $json.schedulerOutbox.total }}건)\n| :hourglass: PENDING | :arrows_counterclockwise: PROCESSING | :white_check_mark: COMPLETED | :x: FAILED |\n|---|---|---|---|\n| {{ $json.schedulerOutbox.pending }} | {{ $json.schedulerOutbox.processing }} | {{ $json.schedulerOutbox.completed }} | {{ $json.schedulerOutbox.failed }} |\n\n:package: *ProductSync Outbox* (총 {{ $json.productSyncOutbox.total }}건)\n| :hourglass: PENDING | :arrows_counterclockwise: PROCESSING | :white_check_mark: COMPLETED | :x: FAILED |\n|---|---|---|---|\n| {{ $json.productSyncOutbox.pending }} | {{ $json.productSyncOutbox.processing }} | {{ $json.productSyncOutbox.completed }} | {{ $json.productSyncOutbox.failed }} |\n\n---\n:floppy_disk: *CrawledRaw Summary* (총 {{ $json.crawledRaw.totalRaw }}건)\n{{ Object.entries($json.crawledRaw.countsByStatus).map(([k,v]) => '• ' + k + ': ' + v).join('\\n') }}\n\n---\n:satellite: *외부 시스템 헬스*\n{{ $json.externalSystems.map(s => '• *' + s.system + '*: ' + s.status + ' (실패 ' + s.recentFailures + '건)').join('\\n') || '조회된 시스템 없음' }}\n\n---\n:mag: 확인: `/api/v1/monitoring/*`",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1200, 320],
      "id": "slack-alert-001",
      "name": "Send Alert to Slack",
      "credentials": {
        "slackApi": {
          "id": "JudHaRQYOjQVx9Xo",
          "name": "n8n Automation Bot"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "id",
          "value": "C0A8RU0UR4M"
        },
        "text": "=:large_green_circle: *CrawlingHub 시스템 정상*\n\n:clock3: {{ $json.checkedAt }} | :traffic_light: {{ $json.overallStatus }}\n\n*Dashboard*: 스케줄러 {{ $json.activeSchedulers }} | 태스크 {{ $json.runningTasks }} | 에러 {{ $json.recentErrors }}\n*CrawlTask*: 총 {{ $json.crawlTask.totalTasks }} (stuck {{ $json.crawlTask.stuckTasks }})\n*Outbox*: CrawlTask F{{ $json.crawlTaskOutbox.failed }} | Scheduler F{{ $json.schedulerOutbox.failed }} | ProductSync F{{ $json.productSyncOutbox.failed }}\n*CrawledRaw*: 총 {{ $json.crawledRaw.totalRaw }}\n*External*: {{ $json.externalSystems.map(s => s.system + ' ' + s.status).join(' | ') || 'N/A' }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1200, 520],
      "id": "slack-ok-001",
      "name": "Send OK to Slack (Optional)",
      "disabled": true,
      "credentials": {
        "slackApi": {
          "id": "JudHaRQYOjQVx9Xo",
          "name": "n8n Automation Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Dashboard",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch CrawlTask Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Outbox Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch CrawledRaw Summary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch External Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Dashboard": {
      "main": [
        [
          {
            "node": "Evaluate Alert Conditions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CrawlTask Summary": {
      "main": [
        [
          {
            "node": "Evaluate Alert Conditions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Outbox Summary": {
      "main": [
        [
          {
            "node": "Evaluate Alert Conditions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CrawledRaw Summary": {
      "main": [
        [
          {
            "node": "Evaluate Alert Conditions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch External Health": {
      "main": [
        [
          {
            "node": "Evaluate Alert Conditions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Alert Conditions": {
      "main": [
        [
          {
            "node": "Needs Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Alert?": {
      "main": [
        [
          {
            "node": "Send Alert to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send OK to Slack (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "monitoring"
    },
    {
      "name": "crawlinghub"
    }
  ]
}
